.main-div{
    display: flex;
}
.container{
    width: 60%;
    height: 400px;
    border: 1px solid black;
    
    margin-top: 100px;
    background-color: rgb(209, 228, 245);
}

.form-div{
    width: 300px;
    height: 250px;
    border: 1px solid rgb(116, 114, 114);
    margin: auto;
    background-color: aliceblue;
}

.country{
    margin-top: 5px;
    width: 80%;
    padding: 5px;
    font-size: 14px;
}

.input{
    margin-top: 5px;
    width: 80%;
    padding: 5px;
    font-size: 14px;
}

.submit{
    margin-top: 30px;
    width: 80%;
    padding: 8px;
    background-color: rgb(142, 253, 160);
    cursor: pointer;
    font-size: 14px;
}

.submit:hover{   
    background-color: rgb(27, 100, 39);
}

.account-div{
    width: 40%;
    height: 200px;
    margin-top: 100px;
    border: 1px solid rgb(179, 177, 177);
    background-color: azure;
    margin-left: 10px;
}

.h2{
    font-size: large;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}