.login-div{
  width: 400px;
  padding: 20px;
  margin: 40px auto;
  border: 1px solid gray;
  align-items: center;
  background-color: aquamarine;
}

.login-div h1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login-input{
    width: 80%;
    height: 30px;
    font-size: larger;
    border: 1px solid white;
    background-color: rgb(203, 253, 237);
}

.login-btn{
    width: 150px;
    height: 50px;
    font-size: large;
    border: 1px solid white;
    background-color: grey;
}

.login-btn:hover{
  background-color: blue;
}