.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(147, 233, 204);
}

.image{
    height: 80px;
}

.regButton{
    width:80px;
    padding:10px;
    margin-top: 20px;
    margin-right: 12px;
    cursor: pointer;
    background-color: rgb(177, 145, 145);
    font-size: 15px;
    border-radius: 10px;
    border: chocolate;
}

.logButton{
    width:70px;
    padding:10px;
    margin-right: 55px;
    cursor: pointer;
    background-color: rgb(177, 145, 145);
    font-size: 15px;
    border-radius: 10px;
    border: chocolate;
}
.regButton:hover{
    background-color: rgb(196, 82, 82);
}

.logButton:hover{
    background-color: rgb(196, 82, 82);
}